@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<div class="container top-margin text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <h2><span>Welcome, @User.Identity.Name!</span></h2>
        <br />
        <a href="@Url.Action("LogOut", "User")" class="btn btn-danger">Log Out</a>
        <a href="@Url.Action("UsersInfo", "User")" class="btn btn-success">Show users</a>
    }
    else
    {
        <div>
            <br />
            <h2>Welcome!</h2>
            <br />
            <a href="@Url.Action("SignUp", "Account")" class="btn btn-primary">Sign Up</a>
            <a href="@Url.Action("LogIn", "Account")" class="btn btn-success">Log In</a>
        </div>
    }
</div>
